<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MedicalService.Properties.Settings.MedicalConnectionString"
            connectionString="Data Source=HABIB\SQLEXPRESS;Initial Catalog=Medical;User ID=sa;Password=w3123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>